@font-face{
  font-family: Comfortaa;
  src: url(/src/fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Comfortaa;
}

#root{
  min-height: 100vh;
  display: flex;
}